
@import "tailwindcss";

@layer base{
  body{
    font-family: "Poppins", sans-serif;
  }
} 
@keyframes slideRightFast {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(20px); } /* geser ±20px */
  100% { transform: translateX(0); }
}

.animate-slideRightFast {
  animation: slideRightFast 2s ease-in-out infinite; /* lebih cepat */
}

@keyframes floating {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}
